.container{
    margin: 0 auto;
    background-color:#333333;
    
}
.cartaz{
    color: #ff7202;
    font-weight: 600;
    margin-left: 10px;
}
.titulo{
    font-size: 15px;
    position: relative;
    top: 155px;
    margin-left: 5px; 
    font-weight: 700;
}

.tag{
    position: relative;
    font-size: 11px;
    top: 150px;
    margin-left: 5px;
    padding:5px; 
    background-color: #33ffcc;
    text-transform: uppercase;
    color: black;
}

.quadroFilme{
    width: 140px;
    height: 228px;
    float: left;
    margin-left: 10px;
    background-size: cover;
}

hr{
    margin-top: 5px;
    margin-bottom: 10px;
}